# Machine Learning Model on Real Estate Correlation

In this file, we will use several machine learning algorithms to evaluate whether changes in the house prices in cities outside the GTA correlate to changes in the house prices in the GTA.

In [53]:
#Importing Libraries
import numpy as np
import pandas as pd
# import hvplot.pandas
%matplotlib inline
from sklearn import metrics

## Data Manipulation

In [54]:
def format_function(df):
    df = df.reset_index()
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    return df
# convert to datetime
# dataframe_name['Date'] = pd.to_datetime(dataframe_name['date'])
# dataframe_name.set_index('Date', inplace=True)
# dataframe_name = dataframe_name.drop(columns=["date", "realtime_start", "realtime_end"]).sort_index()
# dataframe_name['value'] = pd.to_numeric(dataframe_name['value'],errors='coerce')
# return dataframe_name

In [55]:
# Read csv contains house prices in Barrie
df_barrie = pd.read_csv("Data/House_price_Barrie.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_barrie.dropna(inplace=True)
df_barrie = df_barrie[["Composite_Benchmark_SA_Barrie"]]
df_barrie = df_barrie.rename(columns={"Composite_Benchmark_SA_Barrie": "Barrie Composite House Price"})
df_barrie.head()
#convert index to datetime
# df = df.reset_index()
# df['Date'] = pd.to_datetime(df['Date'])
# df.head()

            Barrie Composite House Price
Date
2005-01-01                      210200.0
2005-02-01                      212300.0
2005-03-01                      214100.0
2005-04-01                      216100.0
2005-05-01                      217200.0

In [56]:
# Read csv contains house prices in Hamilton
df_hamilton = pd.read_csv("Data/House_price_Hamilton.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_hamilton.dropna(inplace=True)
df_hamilton = df_hamilton[["Composite_Benchmark_SA_Hamilton"]]
df_hamilton = df_hamilton.rename(columns={"Composite_Benchmark_SA_Hamilton": "Hamilton Composite House Price"})
df_hamilton.tail()

            Hamilton Composite House Price
Date
2020-05-01                        656000.0
2020-06-01                        672600.0
2020-07-01                        685100.0
2020-08-01                        702000.0
2020-09-01                        717700.0

In [57]:
# Read csv contains house prices in Kitchener
df_kitchener = pd.read_csv("Data/House_price_Kitchener.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_kitchener.dropna(inplace=True)
df_kitchener = df_kitchener[["Composite_Benchmark_SA_Kitchener"]]
df_kitchener = df_kitchener.rename(columns={"Composite_Benchmark_SA_Kitchener": "Kitchener Composite House Price"})
df_kitchener.tail()

            Kitchener Composite House Price
Date
2020-05-01                         548800.0
2020-06-01                         561100.0
2020-07-01                         572000.0
2020-08-01                         583700.0
2020-09-01                         588800.0

In [58]:
# Read csv contains house prices in Niagara
df_niagara = pd.read_csv("Data/House_price_Niagara.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_niagara.dropna(inplace=True)
df_niagara = df_niagara[["Composite_Benchmark_SA_Niagara"]]
df_niagara = df_niagara.rename(columns={"Composite_Benchmark_SA_Niagara": "Niagara Composite House Price"})
df_niagara.tail()

            Niagara Composite House Price
Date
2020-05-01                       451700.0
2020-06-01                       459700.0
2020-07-01                       469400.0
2020-08-01                       481300.0
2020-09-01                       490300.0

In [59]:
# Read csv contains house prices in Peterborough
df_pete = pd.read_csv("Data/House_price_Peterborough.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_pete.dropna(inplace=True)
df_pete = df_pete[["Composite_Benchmark_SA_Peterborough"]]
df_pete = df_pete.rename(columns={"Composite_Benchmark_SA_Peterborough": "Peterborough Composite House Price"})
df_pete.tail()

            Peterborough Composite House Price
Date
2020-05-01                            440500.0
2020-06-01                            445700.0
2020-07-01                            456000.0
2020-08-01                            471100.0
2020-09-01                            484200.0

In [60]:
# Read csv contains house prices in GTA:
df_gta = pd.read_csv("Data/House_price_GTA.csv", index_col="Date", infer_datetime_format=True, parse_dates=True)

# Drop null values
df_gta.dropna(inplace=True)
df_gta = df_gta[["Composite_Benchmark_SA_GTA"]]
df_gta = df_gta.rename(columns={"Composite_Benchmark_SA_GTA": "GTA Composite House Price"})
df_gta.tail()

            GTA Composite House Price
Date
2020-05-01                   860400.0
2020-06-01                   857500.0
2020-07-01                   878100.0
2020-08-01                   889800.0
2020-09-01                   899500.0

## Concat Dataframes

In [61]:
# concat data
master_df = pd.concat([df_gta, df_barrie, df_hamilton, df_kitchener, df_niagara, df_pete], axis="columns", join='inner')
master_df.tail()

,GTA Composite House Price,Barrie Composite House Price,Hamilton Composite House Price,Kitchener Composite House Price,Niagara Composite House Price,Peterborough Composite House Price
Date,,,,,,
2020-05-01,860400.0,512900.0,656000.0,548800.0,451700.0,440500.0
2020-06-01,857500.0,520300.0,672600.0,561100.0,459700.0,445700.0
2020-07-01,878100.0,525900.0,685100.0,572000.0,469400.0,456000.0
2020-08-01,889800.0,537800.0,702000.0,583700.0,481300.0,471100.0
2020-09-01,899500.0,549700.0,717700.0,588800.0,490300.0,484200.0

In [63]:
# setting x-variables
x_var_list = ['Barrie Composite House Price', 
              'Hamilton Composite House Price', 
              'Kitchener Composite House Price', 
              'Niagara Composite House Price', 
              'Peterborough Composite House Price']
master_df[x_var_list].tail()

,Barrie Composite House Price,Hamilton Composite House Price,Kitchener Composite House Price,Niagara Composite House Price,Peterborough Composite House Price
Date,,,,,
2020-05-01,512900.0,656000.0,548800.0,451700.0,440500.0
2020-06-01,520300.0,672600.0,561100.0,459700.0,445700.0
2020-07-01,525900.0,685100.0,572000.0,469400.0,456000.0
2020-08-01,537800.0,702000.0,583700.0,481300.0,471100.0
2020-09-01,549700.0,717700.0,588800.0,490300.0,484200.0

In [64]:
# Shift DataFrame values by 1 = this will shift data points forward one month so
# that we are using previous months data to predict current month y variable.
master_df[x_var_list] = master_df[x_var_list].shift(1)
master_df[x_var_list].tail()

,Barrie Composite House Price,Hamilton Composite House Price,Kitchener Composite House Price,Niagara Composite House Price,Peterborough Composite House Price
Date,,,,,
2020-05-01,509600.0,651700.0,523500.0,454300.0,440900.0
2020-06-01,512900.0,656000.0,548800.0,451700.0,440500.0
2020-07-01,520300.0,672600.0,561100.0,459700.0,445700.0
2020-08-01,525900.0,685100.0,572000.0,469400.0,456000.0
2020-09-01,537800.0,702000.0,583700.0,481300.0,471100.0

In [65]:
# Drop NAs and replace positive/negative infinity values
master_df.dropna(subset=x_var_list, inplace=True)
master_df = master_df.replace([np.inf, -np.inf], np.nan)
master_df.isnull().sum()

GTA Composite House Price             0
Barrie Composite House Price          0
Hamilton Composite House Price        0
Kitchener Composite House Price       0
Niagara Composite House Price         0
Peterborough Composite House Price    0
dtype: int64

## Split data into training and testing datasets

In [66]:
# Calculate the 70 percentile to split data into train/test 
print(len(master_df))
188*0.7
master_df.iloc[131]
# 242*0.7
# master_df.iloc[170]

188

GTA Composite House Price             586000.0
Barrie Composite House Price          365800.0
Hamilton Composite House Price        426200.0
Kitchener Composite House Price       328100.0
Niagara Composite House Price         254300.0
Peterborough Composite House Price    269000.0
Name: 2016-01-01 00:00:00, dtype: float64

In [67]:
# Construct training start and end dates
training_start = master_df.index.min().strftime(format= '%Y-%m-%d')
training_end = '2016-01-01'

# Construct testing start and end dates
testing_start =  '2016-02-01'
testing_end = master_df.index.max().strftime(format= '%Y-%m-%d')

# Print training and testing start/end dates
print(f"Training Start: {training_start}")
print(f"Training End: {training_end}")
print(f"Testing Start: {testing_start}")
print(f"Testing End: {testing_end}")

Training Start: 2005-02-01
Training End: 2016-01-01
Testing Start: 2016-02-01
Testing End: 2020-09-01

In [68]:
# Construct the x train and y train datasets
X_train = master_df[x_var_list][training_start:training_end]
y_train = master_df['GTA Composite House Price'][training_start:training_end]

In [69]:
# Construct the x test and y test datasets
X_test = master_df[x_var_list][testing_start:testing_end]
y_test = master_df['GTA Composite House Price'][testing_start:testing_end]

y_test.tail()

Date
2020-05-01    860400.0
2020-06-01    857500.0
2020-07-01    878100.0
2020-08-01    889800.0
2020-09-01    899500.0
Name: GTA Composite House Price, dtype: float64

## Scale data

In [70]:
# Scaling data
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Build the model

In [71]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [73]:
model.score(X_train_scaled, y_train)

0.9948561417345968

In [75]:
model.coef_

array([-62820.46029055, 342625.00623666,  58033.94831429, -90742.62840862,
        34242.37997169])

In [76]:
model.intercept_

303942.339732471

In [77]:
# Make predictions of y values from the x test dataset
predictions = model.predict(X_test_scaled)

# Assemble actual y data (Y_test) with predicted y data into two columns in a dataframe to compare:
Results = y_test.to_frame()
Results["Model Predicted Value"] = predictions
Results

            GTA Composite House Price  Model Predicted Value
Date
2016-02-01                   591600.0          588744.793387
2016-03-01                   598700.0          596168.025850
2016-04-01                   608700.0          608768.013438
2016-05-01                   624000.0          613500.351838
2016-06-01                   635300.0          622993.241942
2016-07-01                   646700.0          636081.071393
2016-08-01                   658100.0          638497.058317
2016-09-01                   669000.0          642010.671631
2016-10-01                   683300.0          655828.946587
2016-11-01                   693400.0          656446.179382
2016-12-01                   702400.0          660334.305282
2017-01-01                   719200.0          660024.178014
2017-02-01                   735200.0          684515.477289
2017-03-01                   770800.0          716469.429274
2017-04-01                   798600.0          731044.865773
2017-05-01                   801700.0          761081.887722
2017-06-01                   796500.0          731678.114833
2017-07-01                   765500.0          708443.869703
2017-08-01                   753100.0          694081.712738
2017-09-01                   752800.0          686454.071353
2017-10-01                   750700.0          692050.174369
2017-11-01                   751900.0          701408.828529
2017-12-01                   752100.0          714843.985976
2018-01-01                   753200.0          720952.170103
2018-02-01                   754700.0          725604.170773
2018-03-01                   755900.0          735869.101019
2018-04-01                   756000.0          743063.201939
2018-05-01                   758800.0          748713.415812
2018-06-01                   760400.0          761543.385659
2018-07-01                   762700.0          759117.121645
2018-08-01                   765100.0          766612.746747
2018-09-01                   768200.0          765877.828585
2018-10-01                   770600.0          765832.609641
2018-11-01                   771600.0          770743.120809
2018-12-01                   774200.0          774568.617518
2019-01-01                   773700.0          782841.808193
2019-02-01                   772400.0          778014.379095
2019-03-01                   774900.0          787274.922270
2019-04-01                   780300.0          788088.927707
2019-05-01                   784700.0          820969.028899
2019-06-01                   790700.0          805875.807253
2019-07-01                   797000.0          814522.972981
2019-08-01                   802300.0          813185.400184
2019-09-01                   807200.0          824631.863425
2019-10-01                   813800.0          828022.794637
2019-11-01                   821700.0          838640.587455
2019-12-01                   827000.0          838048.544997
2020-01-01                   837200.0          832272.523578
2020-02-01                   846200.0          843698.951227
2020-03-01                   859300.0          855135.879169
2020-04-01                   861200.0          857480.663581
2020-05-01                   860400.0          848327.284753
2020-06-01                   857500.0          868320.756708
2020-07-01                   878100.0          892345.295956
2020-08-01                   889800.0          909785.031419
2020-09-01                   899500.0          932143.345786